.quote {
    margin-right: 10px;
    margin-left: 10px;
}

/* .go-back-button {
  border-radius: 10px;
  padding: 0.1em 0.5em 0.1em 0.5em;
  background-color: #564e58;
  color: white;
  font-size: 16px;
  white-space: nowrap;
  margin: 15px;
} */

.find-another-btn {
    border-radius: 10px;
    padding: 0.2em 0.6em 0.2em 0.6em;
    background-color: #564e58;
    color: white;
    font-size: 16px;
    white-space: nowrap;  
    margin: 15px;
}