* {
  font-family: "Sawarabi Gothic", Georgia;
}

.rdm-quote-btn {
  border-radius: 10px;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #564e58;
  color: white;
  font-size: 16px;
  white-space: nowrap;
  margin-bottom: 40px;
}

.contribute-heading {
  text-align: left;
  margin-left: 1em;
  margin-bottom: 0px;
}

.new-quote-form {
  text-align: left;
  margin-left: 1em;
}

.add-text {
  text-align: left;
  margin-left: 1.1em;
  margin-top: 0px;
  color: #555555;
}

.new-quote-text-area {
  width: 94%;
  margin-top: 10px;
}

.new-author-text {
  width: 94%;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.form-btns {
    text-align: right;
    margin-right: 4%;     
 }


.new-quote-submit-btn {
  border-radius: 10px;
  padding: 0.1em 0.5em 0.1em 0.5em;
  background-color: #564e58;
  color: white;
  font-size: 16px;
  white-space: nowrap;
  margin: 15px
}

.new-quote-clear-btn {
  border-radius: 10px;
  padding: 0.1em 0.5em 0.1em 0.5em;
  background-color: #fefefe;
  color: #564e58;
  font-size: 16px;
  white-space: nowrap;
  border: 2px solid #564e58;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .be-inspired-heading {
    font-size: 25px;
    margin-bottom: 35px;
  }

  .rdm-quote-btn {
    font-size: 18px;
  }

  .contribute-heading {
    margin-left: 30px;
    font-size: 22px;
    padding-left: 5px;
  }

  .add-text {
    font-size: 18px;
    margin-left: 30px;
    padding-left: 5px;
  }

  .new-quote-form {
    font-size: 20px;
    margin-left: 30px;
    padding: 5px;
  }

  .new-quote-text-area, .new-author-text {
    font-size: 16px;
    width: 75%;
    padding: 10px;
  }

  .form-btns {
    margin-right: 23%;
  }

  .new-quote-clear-btn, .new-quote-submit-btn {
    font-size: 18px;
  }
}

@media (min-width: 1366px) {
  .be-inspired-heading {
    font-size: 30px;
    margin-bottom: 45px;
  }

  .rdm-quote-btn {
    font-size: 20px;
    margin-bottom: 75px
  }

  .contribute-heading {
    margin-left: 50px;
    font-size: 27px;
    padding-left: 35px;
  }

  .add-text {
    font-size: 20px;
    margin-left: 50px;
    padding-left: 35px;
  }

  .new-quote-form {
    font-size: 22px;
    margin-left: 50px;
    padding: 35px;
  }

  .new-quote-text-area, .new-author-text {
    font-size: 18px;
    width: 70%;
    padding: 15px;
  }

  .form-btns {
    margin-right: 28%;
  }

  .new-quote-clear-btn, .new-quote-submit-btn {
    font-size: 20px;
  }
}