table, th, td {
    align-content: center;
    border: 1px solid;
    text-align: center;
    margin: auto;
}

td, th {
    padding: 5px;
}

.statement {
    font-family: "Sawarabi Gothic", Georgia;
    font-size: 18px;
    margin: 0 20px 60px 20px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
    .statement {
        font-size: 20px;
        margin-left: 75px;
        margin-right: 75px;
    }
    
    table {
        font-size: 18px;
    }
}

@media (min-width: 1366px) {
    .statement {
        margin-left: 150px;
        margin-right: 150px;
        font-size: 25px;
    }

    table {
        font-size: 20px
    }
}