.app-description {
  margin: 50px;
}

.home_inspire-me-btn {
  border-radius: 10px;
  padding: 0.7em 1.2em 0.7em 1.2em;
  font-family: "Sawarabi Gothic", Georgia;
  background-color: #564e58;
  color: white;
  font-size: 20px;
  white-space: nowrap;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .app-description {
      font-size: 20px;
      margin: 75px;
  }
}

@media (min-width: 1366px) {
  .app-description {
      font-size: 25px;
      margin: 150px;
  }
}